<%= form_for(@house) do |f| %>
  <div class="field">
    <%= f.label :user_cate,'我是' %>

    个人出租者 <%= f.radio_button :user_cate,1 %>|
    房屋中介<%= f.radio_button :user_cate,2 %>
  </div>
  <div class="field">
    <%= f.label :chuzu_fangshi,'出租方式' %>
    整体出租<%= f.radio_button :chuzu_fangshi,1 %>|
    合租<%= f.radio_button :chuzu_fangshi,2 %>
  </div>
  <div class="field">
    <%= f.label :biaoti,'标题' %>
    <%= f.text_field :biaoti %>
  </div>
  <div class="field">
    <%= f.label :dizhi,'地址' %>
    <%= f.text_field :dizhi %>
  </div>
  <div class="field">
    <%= f.label :xiaoqu,'小区' %>
    <%= f.text_field :xiaoqu %>
  </div>
  <div class="field">
    <%= f.number_field :woshi,class:'_20px' %>
    <%= f.label :woshi,'室' -%>
    <%= f.number_field :keting -%>
    <%= f.label :keting,'厅' -%>
    <%= f.number_field :chufang -%>
    <%= f.label :chufang,'厨' -%>
    <%= f.number_field :weishengjian -%>
    <%= f.label :weishengjian,'卫' %>
  </div>
  <div class="field">
    <%= f.label :leixing,'房屋类型' %>
    <%= f.select :leixing,House::LEIXING %>
  </div>
  <div class="field">
    <%= f.label :zhuangxiu,'装修情况' %>
    <%= f.select :zhuangxiu,House::ZHUANGXIU %>
  </div>
  <div class="field">
    <%= f.label :zongcengshu,'总' -%>
    <%= f.number_field :zongcengshu %>层
    第<%= f.number_field :louceng %>
    <%= f.label :louceng,'层' %>
  </div>
  <div class="field">
    <%= f.label :chaoxiang,'房屋朝向' %>
    <%= f.select :chaoxiang,House::CHAOXIANG %>
  </div>
  <div class="field">
    <%= f.label :mianji,'面积' %>
    <%= f.number_field :mianji %>
  </div>
  <div class="field">
    <%= f.label :zujin,'租金' -%>
    <%= f.number_field :zujin -%>
    <%= f.label :fu_zujin_fangshi,'付租金方式' -%>
    <%= f.select :fu_zujin_fangshi,House::FU_ZUJIN_FANGSHI -%>
  </div>
  <div class="field">
    <%= f.label :fangwu_peizhi,'房屋配置' %>
    <%= f.text_field :fangwu_peizhi %>
  </div>
  <div class="field">
    <%= f.label :miaoshu,'其他描述' %>
    <%= f.text_area :miaoshu,:cols=>30,:rows=>2 %>
  </div>
  <div class="field">
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :lianxi_dianhu,'联系电话' %>
    <%= f.text_field :lianxi_dianhu %>
  </div>
  <div class="field">
    <%= f.label :lianxi_ren,'联系人' %>
    <%= f.text_field :lianxi_ren %>
  </div>
  <div class="field">
    <%= f.label :shuaxin_cishu %>
    <%= f.number_field :shuaxin_cishu %>
  </div>
  <div class="field">
    <%= f.label :shifou_zhiding %>
    <%= f.check_box :shifou_zhiding %>
  </div>
  <div class="field">
    <%= f.label :shifou_dingxiang %>
    <%= f.check_box :shifou_dingxiang %>
  </div>
  <div class="field">
    <%= f.label :shifou_tuiguang %>
    <%= f.check_box :shifou_tuiguang %>
  </div>
  <div class="actions">
    <%= f.submit '提交' %>
  </div>
<% end %>
