<h1>出租信息</h1>
<ul>
  <li><%= link_to '全部' %></li>
</ul>

<table>

<% @houses.each do |house| %>
  <tr>
    <td>
      <%=link_to house.biaoti,house %>
      <span>
        <%= house.quyu_text %>-
      </span>
      <span>
        <%= house.xiaoqu %>
      </span>
      <span>
        <%= "(#{house.cate_text})" %>
      </span>
    </td>
    <td><%= house.huxing%></td>
    <td><%= house.zujin %>元/月</td>
    <td><%= house.updated_at %></td>
  </tr>
<% end %>
</table>

<%= paginate(@houses) %>

<br />

<%= link_to '发布出租信息', new_house_path %>
