<p id="notice"><%= notice %></p>

<p>
<h1><%= @house.biaoti %></h1>
</p>

<p>
  <b>户型面积：</b>
  <%= @house.mianji %>平米 - <%= @house.huxing %>
</p>

<p>
  <b>房屋类型：</b>
  <%= @house.leixing_text %> - <%= @house.louceng_text %>
</p>

<p>
  <b>装修情况：</b>
  <%= @house.chaoxiang_text %> - <%= @house.zhuangxiu_text %>
</p>

<p>
  <b>出租方式：</b>
   <%= @house.chuzu_fangshi_text %> - 每月租金<%= @house.zujin %>元 - <%= @house.fu_zujin_fangshi_text %>
</p>

<p>
  <b>房屋位置：</b>
  <%= @house.quyu_text %> - <%= @house.xiaoqu %>
</p>

<p>
  <b>具体地址：</b>
  <%= @house.dizhi %>
</p>

<p>
  <b>房东备注：</b>
  <%= @house.miaoshu %>
</p>

<p>
  <b>联系人：</b>
  <%= @house.lianxi_ren %> - <%= @house.lianxi_dianhu %>
</p>


