<h2>忘记了您的密码?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email,"请输入您注册时的邮箱" %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "发送重设密码的邮件" %></div>
<% end %>

<%= render "devise/shared/links" %>
