<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @house.user_id %>
</p>

<p>
  <b>Chuzu fangshi:</b>
  <%= @house.chuzu_fangshi %>
</p>

<p>
  <b>Biaoti:</b>
  <%= @house.biaoti %>
</p>

<p>
  <b>Dizhi:</b>
  <%= @house.dizhi %>
</p>

<p>
  <b>Xiaoqu:</b>
  <%= @house.xiaoqu %>
</p>

<p>
  <b>Woshi:</b>
  <%= @house.woshi %>
</p>

<p>
  <b>Keting:</b>
  <%= @house.keting %>
</p>

<p>
  <b>Chufang:</b>
  <%= @house.chufang %>
</p>

<p>
  <b>Weishengjian:</b>
  <%= @house.weishengjian %>
</p>

<p>
  <b>Leixing:</b>
  <%= @house.leixing %>
</p>

<p>
  <b>Zhuangxiu:</b>
  <%= @house.zhuangxiu %>
</p>

<p>
  <b>Louceng:</b>
  <%= @house.louceng %>
</p>

<p>
  <b>Zongcengshu:</b>
  <%= @house.zongcengshu %>
</p>

<p>
  <b>Chaoxiang:</b>
  <%= @house.chaoxiang %>
</p>

<p>
  <b>Mianji:</b>
  <%= @house.mianji %>
</p>

<p>
  <b>Zujin:</b>
  <%= @house.zujin %>
</p>

<p>
  <b>Fu zujin fangshi:</b>
  <%= @house.fu_zujin_fangshi %>
</p>

<p>
  <b>Fangwu peizhi:</b>
  <%= @house.fangwu_peizhi %>
</p>

<p>
  <b>Miaoshu:</b>
  <%= @house.miaoshu %>
</p>

<p>
  <b>Image url:</b>
  <%= @house.image_url %>
</p>

<p>
  <b>Lianxi dianhu:</b>
  <%= @house.lianxi_dianhu %>
</p>

<p>
  <b>Lianxi ren:</b>
  <%= @house.lianxi_ren %>
</p>

<p>
  <b>Shuaxin cishu:</b>
  <%= @house.shuaxin_cishu %>
</p>

<p>
  <b>Shifou zhiding:</b>
  <%= @house.shifou_zhiding %>
</p>

<p>
  <b>Shifou dingxiang:</b>
  <%= @house.shifou_dingxiang %>
</p>

<p>
  <b>Shifou tuiguang:</b>
  <%= @house.shifou_tuiguang %>
</p>


<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
